@model AccessMatrixWebAPI.Models.LocationsViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div id="left-panel" class="col-lg-4 col-sm-6" style="padding-left:50px;padding-top:50px;">
                <div id="logo" class="row">
                    <div class="col-lg-12">
                        <div class="logo">
                            <img src="~/Content/Images/logo.png" />
                            <h5>ISU Access Map</h5>
                        </div>
                    </div>
                </div>
                <!-- Search -->
                <div id="logo" class="row">
                    <div id="search" class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search"></button>
                        </span>
                    </div>
                </div>
                <!-- Filters -->
                <div id="f_filter" class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="dd_locations" class="col-lg-4 col-sm-4 control-label">LOCATION</label>
                            <div class="col-lg-6 col-sm-6">
                                <select id="dd_locations" class="form-control" data-live-search="true" data-size="auto" title="Location Name" required>
                                    @foreach (var item in Model.Locations)
                                    {
                                        <option value="@item.LocationID">@item.LocationName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dd_clients" class="col-lg-4 col-sm-4 control-label">CLIENT</label>
                            <div class="col-lg-6 col-sm-6">
                                <select id="dd_clients" class="form-control" data-live-search="true" data-size="auto" title="Client Name" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dd_programs" class="col-lg-4 col-sm-4 control-label">PROGRAM</label>
                            <div class="col-lg-6 col-sm-6">
                                <select id="dd_programs" class="form-control" data-live-search="true" data-size="auto" title="Program Name" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dd_departments" class="col-lg-4 col-sm-4 control-label">DEPARTMENT</label>
                            <div class="col-lg-6 col-sm-6">
                                <select id="dd_departments" class="form-control" data-live-search="true" data-size="auto" title="Department Name" required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dd_roles" class="col-lg-4 col-sm-4 control-label">ROLE</label>
                            <div class="col-lg-6 col-sm-6">
                                <select id="dd_roles" class="form-control" data-live-search="true" data-size="auto" title="Role Name" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Save/Cancel -->
                    <div id="buttons" class="col-lg-offset-4 col-sm-offset-4" style="display:none">
                        <button id="b_save" class="btn btn-primary">Save</button>
                        <button id="b_cancel" class="btn btn-default">Cancel</button>
                    </div>
                </div>

            <!-- Form -->
            <div id="right-panel" class="col-lg-8 col-sm-6">
                <div class="row">
                    <!-- Alert -->
                    <div id="msg" class="col-lg-12 col-sm-12"></div>
                        <div id="busy">
                            <img src="~/Content/Images/loading-gears.gif" />
                        </div>
                    <!-- PROFILE ID PANEL -->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-md-4 col-sm-4">
                                <input type="text" id="profile-id" name="profile-id" class="form-control" disabled="disabled" />
                                @*       placeholder="Profile ID" value="<?php echo $p_id; ?>" READONLY />*@
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="profile-desc" name="profile-desc" class="form-control" />
                                       @*placeholder="Description" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->Description; ?>" />*@
                            </div>
                        </div>
                    </div>
                    <!-- ACTIVE DIRECTORY PANEL -->
                    <div class="row">
                        <div class="col-md-12">
                            <div id="f_active_directory" class="panel panel-default" style="margin:15px;">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="glyphicon glyphicon-globe" />
                                        Active Directory
                                    </h5>
                                </div>
                                <div class="panel-body form-horizontal">
                                    <div class="form-group">
                                        <label for="ad-domain" class="col-md-2 col-sm-2 control-label">Domain</label>
                                        <div class="col-md-10 col-sm-10">
                                            <select id="ad-domain" class="form-control" name="ad-domain">
                                                @*<?php
                                                if($p_id){
                                                $q = "select * from t_domains";
                                                $t = ExecSQL($c['connection'], $q);

                                                foreach($t as $rr){

                                                $selected = "";
                                                $dd_id   = $rr->DomainID;
                                                $dd_name = $rr->DomainAddress;

                                                if($dd_id == $r->DomainID) $selected = "SELECTED";
                                                echo "
                                                <option value='$dd_id' $selected>$dd_name</option>";
                                                }
                                                }
                                                ?>*@
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ad-ou" class="col-md-2 col-sm-2 control-label">OU</label>
                                        <div class="col-md-10 col-sm-10">
                                            <input id="ad-ou" type="text" class="form-control" name="ad-ou" 
                                                   placeholder="domain.com/container/subcontainer" />
                                                   @*value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->OU;?>" 
                                                    />*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ad-loginscript" class="col-md-2 col-sm-2 control-label">Logon Script</label>
                                        <div class="col-md-10 col-sm-10">
                                            <input id="ad-loginscript" type="text" class="form-control" name="ad-loginscript" 
                                                   placeholder="path/script.ext" />
                                                   @*value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->LogonScript;?>" 
                                                    />*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label">Profile Path</label>
                                        <div class="col-md-10 col-sm-10 form-inline">
                                            <select class="form-control" name="ad-profiledrive">
                                                @*<option></option>
                                                <?php
                                                for ($x = 78; $x <= 90; $x++) {
                                                $drive = chr($x);

                                                if ($drive == $r->ProfileDrive){
                                                $selected = "SELECTED";
                                                }else{
                                                $selected="";
                                                }
                                                echo "
                                                <option value='$drive' $selected>$drive:</option>";
                                                }
                                                ?>*@
                                            </select>
                                            <input type="text" class="form-control" name="ad-profilepath" 
                                                   placeholder="\\server\path" />
                                                   @*value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->ProfilePath;?>" />*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ad-group" class="col-md-2 col-sm-2 control-label">Groups</label>
                                        <div class="col-md-10 col-sm-10">
                                            <textarea id="ad-group" class="form-control" name="ad-group" rows="4" cols="60" 
                                                      placeholder="Domain\GroupName"></textarea>
                                                      @*><?php if(($p_id)&&(is_null($r)==false)){ $groups = str_replace(';', "\n", $r->Membership); echo trim($groups); } ?>*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-10 col-sm-10 col-lg-offset-2">
                                            <input type="checkbox" name="ad-changepass" class="checkbox-inline" />
                                                   Change password upon login
                                                   @*<?php if (($p_id) && (is_null($r)==false) && $r->ChangePW == 1 ) echo "checked" ; ?> />
                                                    Change password upon login*@
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- EMAIL PANEL -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <span class="glyphicon glyphicon-envelope" />
                                            Email
                                        </h5>
                                    </div>
                                    <div class="panel-body form-horizontal">
                                        <div class="form-group">
                                            <label for="email-domain" class="col-md-4 col-sm-4 control-label">Domain</label>
                                            <div class="col-md-8 col-sm-8">
                                                <select class="form-control" name="email-domain" id="email-domain">
                                                    @*<?php
                                                    if($p_id){
                                                    $q = "select * from t_emaildomains";
                                                    $t = ExecSQL($c['connection'], $q);

                                                    //echo "
                                                    <option value=''></option>";

                                                    foreach($t as $rr){

                                                    $selected = "";
                                                    $dd_id   = $rr->EmailID;
                                                    $dd_name = $rr->EmailDomain;

                                                    if($dd_id == $r->EmailID) $selected = "SELECTED";

                                                    echo "
                                                    <option value='$dd_id' $selected>$dd_name</option>";
                                                    }
                                                    }

                                                    ?>*@
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="email-smtp" class="col-md-4 col-sm-4 control-label">SMTP</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" class="form-control" name="email-smtp" id="email-smtp" />
                                                       @*value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->GroupSMTP;?>" />*@
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding-left:15px;">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="email-email_forwarding" />
                                                Email Forwarding
                                                       @*<?php if (($p_id) && (is_null($r)==false) && $r->HasEmailForwarding ==1 ) echo "checked" ; ?> >*@ 

                                            </label><br />

                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="email-webmail" />
                                                Webmail
                                                       @*<?php if ( ($p_id) && (is_null($r)==false) && $r->HasWebmail ==1 ) echo "checked" ; ?> > Webmail*@
                                            </label><br />

                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="ad-mobile_activesync" />
                                                Mobile Activesync
                                                       @*<?php if ( ($p_id) && (is_null($r)==false) && $r->HasActiveSync ==1 ) echo "checked" ; ?> > Mobile Activesync*@
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- OTHERS PANEL -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <span class="glyphicon glyphicon-cog" />
                                            Others
                                        </h5>
                                    </div>
                                    <div class="panel-body form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 col-sm-2 control-label">WB</label>
                                            <div class="col-md-10 col-sm-10">
                                                <select class="form-control col-sm-10" name="others-workbooth">
                                                    @*<?php
                                                    if($p_id){
                                                    $q = "select * from t_workbooth";
                                                    $t = ExecSQL($c['connection'], $q);

                                                    //echo "
                                                    <option value=''></option>";

                                                    foreach($t as $rr){

                                                    $selected = "";
                                                    $dd_id   = $rr->WorkboothID;
                                                    $dd_name = $rr->WorkboothName;

                                                    if($dd_id == $r->WorkboothID) $selected = "SELECTED";

                                                    echo "
                                                    <option value='$dd_id' $selected>$dd_name</option>";
                                                    }

                                                    }
                                                    ?>*@
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="password" class="col-md-2 col-sm-2 control-label"> VPN </label>
                                            <div class="col-md-10 col-sm-10">
                                                <select class="form-control" name="others-vpn">
                                                    @*<?php
                                                    if($p_id){
                                                    $q = "select * from t_vpn";
                                                    $t = ExecSQL($c['connection'], $q);

                                                    //echo "
                                                    <option value=''></option>";

                                                    foreach($t as $rr){

                                                    $selected = "";
                                                    $dd_id   = $rr->VpnID;
                                                    $dd_name = $rr->VpnName;

                                                    if($dd_id == $r->VpnID) $selected = "SELECTED";

                                                    echo "
                                                    <option value='$dd_id' $selected>$dd_name</option>";
                                                    }
                                                    }

                                                    ?>*@
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="password" class="col-md-2 col-sm-2 control-label"> Chat </label>
                                            <div class="col-md-10 col-sm-10">
                                                <select class="form-control" name="others-chat">
                                                    @*<?php
                                                    if($p_id){
                                                    $q = "select * from t_chat";
                                                    $t = ExecSQL($c['connection'], $q);

                                                    foreach($t as $rr){

                                                    $selected = "";
                                                    $dd_id   = $rr->ChatID;
                                                    $dd_name = $rr->ChatName;

                                                    if($dd_id == $r->ChatID) $selected = "SELECTED";

                                                    echo "
                                                    <option value='$dd_id' $selected>$dd_name</option>";
                                                    }
                                                    }

                                                    ?>*@
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-inline" style="padding-left:15px;">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="others-federation" id="others-federation" />
                                                Federation
                                                       @*<?php if (($p_id) && (is_null($r)==false) && $r->HasFederation ==1 ) echo "checked" ; ?> > Federation*@
                                            </label><br>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="others-box_acct" id="others-box_acct" />
                                                BOX Account
                                                       @*<?php if (($p_id) && (is_null($r)==false) && $r->HasBoxAccount ==1) echo "checked" ; ?> > BOX Account*@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- REMARKS PANEL -->
                    <div class="row">
                        <div class="col-lg-12" style="margin:10px;">
                            <textarea class="form-control" name="remarks" id="remarks" rows="7" cols="40" placeholder="Remarks">
                            @*<?php if(($p_id)&&(is_null($r)==false)) echo trim($r->Remarks);?>*@
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- </content> -->
    </div>
</div>
