@model AccessMatrixWebAPI.Models.LocationsViewModel

<div class="container form-horizontal">
    <div id="left-panel" class="col-md-4 form-horizontal">
        <div class="logo" class="col-md-4">
            <img src="~/Content/Images/logo.png" />
            <h5>ISU Access Map</h5>
        </div>

        <!-- Search -->
        <form id="search" class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-search"></button>
            </span>
        </form>

        <!-- Filters -->
        <div id="filters" class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="dd_locations" class="col-md-4 control-label">LOCATION</label>
                    <div class="col-md-8">
                        <select id="dd_locations" class="form-control" data-live-search="true" data-size="auto" title="Location Name" required>
                            @foreach (var item in Model.Locations)
                            {
                                <option value="@item.LocationID">@item.LocationName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dd_clients" class="col-md-4 control-label">CLIENT</label>
                    <div class="col-md-8">
                        <select id="dd_clients" class="form-control" data-live-search="true" data-size="auto" title="Client Name" required></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dd_programs" class="col-md-4 control-label">PROGRAM</label>
                    <div class="col-md-8">
                        <select id="dd_programs" class="form-control" data-live-search="true" data-size="auto" title="Program Name" required></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dd_departments" class="col-md-4 control-label">DEPARTMENT</label>
                    <div class="col-md-8">
                        <select id="dd_departments" class="form-control" data-live-search="true" data-size="auto" title="Department Name" required></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dd_roles" class="col-md-4 control-label">ROLE</label>
                    <div class="col-md-8">
                        <select id="dd_roles" class="form-control" data-live-search="true" data-size="auto" title="Role Name" required></select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save/Cancel -->
        <div id="buttons" class="col-md-12">
            <button id="b_save" class="btn btn-primary col-md-6">Save</button>
            <button id="b_cancel" class="btn btn-default col-md-4">Cancel</button>
        </div>
    </div>

    <!-- Form -->
    <div id="right-panel" class="col-md-8">
        <!-- Alert -->
        <div id="msg"></div>

        <div id="busy" class="col-md-12">
            <img src="~/Content/Images/loading-gears.gif" />
        </div>

        <form id="f_permissions" role="form"></form>
        <!-- PROFILE ID PANEL -->
        <div class="form-group col-md-12">
            <div class="col-md-3">
                <input type="text" id="profile-id" name="profile-id" class="form-control" placeholder="Profile ID" value="<?php echo $p_id; ?>" READONLY />
            </div>
            <div class="col-md-8">
                <input type="text" id="profile-desc" name="profile-desc" class="form-control" placeholder="Description" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->Description; ?>" />
            </div>
        </div>

        <!-- ACTIVE DIRECTORY PANEL -->
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-globe" />
                        Active Directory
                    </h5>
                </div>

                <div class="panel-body form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Domain</label>
                        <div class="col-md-4">
                            <select class="form-control" name="ad-domain">
                                <?php
                                if($p_id){
                                $q = "select * from t_domains";
                                $t = ExecSQL($c['connection'], $q);

                                foreach($t as $rr){

                                $selected = "";
                                $dd_id   = $rr->DomainID;
                                $dd_name = $rr->DomainAddress;

                                if($dd_id == $r->DomainID) $selected = "SELECTED";
                                echo "
                                <option value='$dd_id' $selected>$dd_name</option>";
                                }
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">OU</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="ad-ou" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->OU;?>" placeholder="domain.com/container/subcontainer" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Logon Script</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="ad-loginscript" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->LogonScript;?>" placeholder="path/script.ext" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Profile Path</label>
                        <div class="col-md-10 form-inline">
                            <select class="form-control" name="ad-profiledrive">
                                <option></option>
                                <?php
                                for ($x = 78; $x <= 90; $x++) {
                                $drive = chr($x);

                                if ($drive == $r->ProfileDrive){
                                $selected = "SELECTED";
                                }else{
                                $selected="";
                                }
                                echo "
                                <option value='$drive' $selected>$drive:</option>";
                                }
                                ?>
                            </select>
                            <input type="text" class="form-control" name="ad-profilepath" placeholder="\\server\path" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->ProfilePath;?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Groups</label>
                        <div class="col-md-8">
                            <textarea class="form-control" name="ad-group" rows="4" cols="60" placeholder="Domain\GroupName"><?php if(($p_id)&&(is_null($r)==false)){ $groups = str_replace(';', "\n", $r->Membership); echo trim($groups); } ?></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-md-offset-2">
                            <input type="checkbox" name="ad-changepass" class="checkbox-inline" <?php if (($p_id) && (is_null($r)==false) && $r->ChangePW == 1 ) echo "checked" ; ?> />&nbsp;&nbsp;Change password upon login
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <!-- EMAIL PANEL -->
        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-envelope" />
                        Email
                    </h5>
                </div>

                <div class="panel-body form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Domain</label>
                        <div class="col-md-10">
                            <select class="form-control" name="email-domain" id="email-domain">
                                <?php
                                if($p_id){
                                $q = "select * from t_emaildomains";
                                $t = ExecSQL($c['connection'], $q);

                                //echo "
                                <option value=''></option>";

                                foreach($t as $rr){

                                $selected = "";
                                $dd_id   = $rr->EmailID;
                                $dd_name = $rr->EmailDomain;

                                if($dd_id == $r->EmailID) $selected = "SELECTED";

                                echo "
                                <option value='$dd_id' $selected>$dd_name</option>";
                                }
                                }

                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">SMTP</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="email-smtp" id="email-smtp" value="<?php if(($p_id)&&(is_null($r)==false)) echo $r->GroupSMTP;?>" />
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="checkbox-inline col-md-offset-2">
                            <input type="checkbox" name="email-email_forwarding" <?php if (($p_id) && (is_null($r)==false) && $r->HasEmailForwarding ==1 ) echo "checked" ; ?> > Email Forwarding
                        </label><br />

                        <label class="checkbox-inline col-md-offset-2">
                            <input type="checkbox" name="email-webmail" <?php if ( ($p_id) && (is_null($r)==false) && $r->HasWebmail ==1 ) echo "checked" ; ?> > Webmail
                        </label><br />

                        <label class="checkbox-inline col-md-offset-2">
                            <input type="checkbox" name="ad-mobile_activesync" <?php if ( ($p_id) && (is_null($r)==false) && $r->HasActiveSync ==1 ) echo "checked" ; ?> > Mobile Activesync
                        </label>
                    </div>

                </div>

            </div>
        </div>

        <!-- OTHERS PANEL -->
        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="glyphicon glyphicon-cog" />
                        Others
                    </h5>
                </div>

                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">WB</label>
                        <div class="col-md-10">
                            <select class="form-control col-sm-10" name="others-workbooth">
                                <?php
                                if($p_id){
                                $q = "select * from t_workbooth";
                                $t = ExecSQL($c['connection'], $q);

                                //echo "
                                <option value=''></option>";

                                foreach($t as $rr){

                                $selected = "";
                                $dd_id   = $rr->WorkboothID;
                                $dd_name = $rr->WorkboothName;

                                if($dd_id == $r->WorkboothID) $selected = "SELECTED";

                                echo "
                                <option value='$dd_id' $selected>$dd_name</option>";
                                }

                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label"> VPN </label>
                        <div class="col-md-10">
                            <select class="form-control" name="others-vpn">
                                <?php
                                if($p_id){
                                $q = "select * from t_vpn";
                                $t = ExecSQL($c['connection'], $q);

                                //echo "
                                <option value=''></option>";

                                foreach($t as $rr){

                                $selected = "";
                                $dd_id   = $rr->VpnID;
                                $dd_name = $rr->VpnName;

                                if($dd_id == $r->VpnID) $selected = "SELECTED";

                                echo "
                                <option value='$dd_id' $selected>$dd_name</option>";
                                }
                                }

                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label"> Chat </label>
                        <div class="col-md-10">
                            <select class="form-control" name="others-chat">
                                <?php
                                if($p_id){
                                $q = "select * from t_chat";
                                $t = ExecSQL($c['connection'], $q);

                                foreach($t as $rr){

                                $selected = "";
                                $dd_id   = $rr->ChatID;
                                $dd_name = $rr->ChatName;

                                if($dd_id == $r->ChatID) $selected = "SELECTED";

                                echo "
                                <option value='$dd_id' $selected>$dd_name</option>";
                                }
                                }

                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-inline">
                        <label class="checkbox-inline col-md-offset-2">
                            <input type="checkbox" name="others-federation" id="others-federation" <?php if (($p_id) && (is_null($r)==false) && $r->HasFederation ==1 ) echo "checked" ; ?> > Federation
                        </label><br>

                        <label class="checkbox-inline col-md-offset-2">
                            <input type="checkbox" name="others-box_acct" id="others-box_acct" <?php if (($p_id) && (is_null($r)==false) && $r->HasBoxAccount ==1) echo "checked" ; ?> > BOX Account
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- REMARKS PANEL -->
        <div class="col-md-12">
            <textarea class="form-control" name="remarks" id="remarks" rows="7" cols="40" placeholder="Remarks"><?php if(($p_id)&&(is_null($r)==false)) echo trim($r->Remarks);?></textarea>
        </div>
    </div>



   
</div> <!-- </content> -->