@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	/*background-color: #292929;*/
}

.content{	
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

.logo img{
    /*display: inline-block;
	position: fixed;*/
	width: 350px;
    background-color: white;
    position:relative;
}

.logo h5{
	position: relative;
	font: bold 1.4em Calibri;
	text-align: right;
	top: -40px;
	margin-right: 20px;
}

#busy{
	display: block;
	position: absolute;
	text-align: center;
	height: 100vh;
}

#busy img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
    float: right;
    /*background-color: lightgray;*/
    padding-top:10px;
}

#filters{
	/*position: relative;*/
	/*display: block;*/
	/*margin-top: 60px;*/
}

#search{
	margin-top: 30px;
	display: none;
}

#left-panel {
	/*display: block;*/
	position: fixed;
    /*top: 350px;*/
	/*padding: 10px;*/
	height: 100%;
	/*min-height: 100vh;*/
	background-color: white;	
	float: left;
	width: auto;
	/*z-index: 2;*/
}

#right-panel {
    /*display: block;*/
	/*position: fixed;*/
    float: right;
    background-color: lightgray;
    padding-top:10px;
    /*width: auto;*/
	/*padding: 10px;*/
	/*height: 100vh auto;*/
	/*min-height: 100vh;*/
	/*margin-left: auto;*/
}

.panel{
	box-shadow: 0px 0px 18px #A7A7A7;
    min-height:300px;
}

#msg{
	display: none;
	padding: 6px;
	text-align: center;
}

ul
{
    list-style-type: none;
}

